*{
    padding: 0;
    margin: 0;
}
.main{
    background-color: darkgoldenrod;
    width: 100%;
    height: 100vh;
}
.nav ul{
    margin-left: 30px;
    display: flex;
    font-size: 20px;
}
.nav ul li {
    list-style-type: none;
    margin: 30px;
}
.textimage{
    display: flex;
}
.left{
    width:55%;
    margin-left: 30px;
}
.left h1{
    font-size: 55px;   
    color: gold;
}
.left h3{
    margin-top: 20px;
    font-size: 30px;
    color: whitesmoke;
}
.left p{
    margin-top: 20px;
    font-size: 20px;
    color:black;
}
.right{
    width:45%;
    height:fit-content;
}
.right img{
    width:90%;
    margin:20px;
}
.menu{
    display: flex;
    gap: 20px;
    justify-content: center;
    gap:30px;
    padding: 20px;
    margin-top: 50px;
}

.menu-box {
    width: 30%;
    background: #fff;
    padding: 10px;
}

.menu-box img {
    width: 100%;
    border-radius: 8px;
}

.about{
    padding:40px;
    background-color: white;
}
.about h1{
    margin-top: 50px;
    font-size: 30px;
    color:darkgoldenrod;
    text-align: center;
}
.about p{
    font-size: 20px;
    color: black;
    text-align: center;
    margin:30px;
}
.visit{
    background-color: darkgoldenrod;
    text-align: center;
    padding: 40px;
}
.visit h1{
    margin-top:20px;
    font-size: 50px;
    color:black;
}
.visit p{
    font-size: 20px;
    margin-top: 10px;
}
.visit button{
    font-size: 20px;
    margin: 20px;
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.location{
    font-size: 20px;
    color: whitesmoke;
    padding: 30px;
    margin: 30px;
}
.location h2{
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}
.location h3 {
    margin-bottom: 20px;
}
.contact{
    font-size: 20px;
    color: whitesmoke;
    padding: 30px;
    margin: 30px;
}
.contact h2{
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}
.contact h3{
    margin-bottom: 20px;
}
.rights{
    background-color: black;
}
.rights h3{
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}